# Visual Studio Code
.vscode

# Project Todo reminder
TODO

# Build results
[Bb]in/
[Oo]bj/
output
artifacts

# Cake
tools/**
!tools/packages.config

# ignore test runs
E2E-Logs

/.vs/Dgraph-dotnet/DesignTimeBuild
/.vs/Dgraph-dotnet/v16/Server/sqlite3
/.vs/Dgraph-dotnet/v16
